@import "colors";
@import "fonts";
*,
*::before,
*::after{scroll-behavior: smooth; box-sizing:border-box; margin: 0; padding: 0; color: var(--color__neutrals-midnight--500); @include manrope-font;}
a{text-decoration:none; color:inherit; cursor:pointer;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0;}
p{margin:0;}
p strong{font-weight: 700;}
body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: auto;
  background-color: var(--color__neutrals-gallery--200);
}
