@use '../base/abstracts' as abstracts;
@use '../base/fonts' as fonts;

.footer {
	@include abstracts.wrapper;
	@include fonts.label-style(desktop);
	width: 100%;
	height: auto;
	position: relative;
	margin-top: abstracts.$spacer-l;
	overflow: hidden;
	@include abstracts.breakpoint(mobile) {
		@include fonts.label-style(mobile);
	}
	&__line {
		border: 1px solid var(--color__neutrals-midnight--500);
		width: 100%;
		margin-bottom: 32px;
	}
	&__group {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;
		& > *:hover{
			opacity: 60%;
		}
		@include abstracts.breakpoint(mobile) {
			flex-direction: column-reverse;
			text-align: center;
			align-items: center;
			gap: 16px;
		}
	}
	&__turn-up {
		cursor: pointer;
		@include abstracts.breakpoint(mobile) {
			display: none;
		}
	}
}
