@use '../base/abstracts' as abstracts;
@use '../base/fonts' as fonts;
@use '../components/buttons' as buttons;

.container{
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include abstracts.wrapper;
}
.display-style {
  @include fonts.cormorant-font;
  @include fonts.display-style;
  &--manrope {
    @include fonts.manrope-font;
    font-weight: 200;
  }
}
.body-regular {
  @include fonts.body-style(desktop);
}
.body-small {
  @include fonts.body-style(desktop, $size: little);
}
.button-text {
  @include fonts.button-text-style;
  &--wide {
    @include fonts.button-text-style(wide);
  }
}
.caption-text {
  @include fonts.caption-style(desktop);
  &--semibold {
    @include fonts.caption-style(desktop, $bold: yes);
  }
}

.label-text {
  @include fonts.label-style(desktop);
   &--semibold {
    @include fonts.label-style(desktop, $bold: yes);
  }
}
.button-primary{
  @include buttons.btn-style;
}
.button-secundary{
  @include buttons.btn-style(secundary);
}