.container{
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include wrapper;
}
.display-style {
  @include cormorant-font;
  @include display-style;
  &--manrope {
    @include manrope-font;
    font-weight: 200;
  }
}
.body-regular {
  @include body-style(desktop);
}
.body-small {
  @include body-style(desktop, $size: little);
}
.button-text {
  @include button-text-style;
  &--wide {
    @include button-text-style(wide);
  }
}
.caption-text {
  @include caption-style(desktop);
  &--semibold {
    @include caption-style(desktop, $bold: yes);
  }
}

.label-text {
  @include label-style(desktop);
   &--semibold {
    @include label-style(desktop, $bold: yes);
  }
}
.button-primary{
  @include btn-style;
}
.button-secundary{
  @include btn-style(secundary);
}