@use '../base/abstracts' as abstracts;
@use '../base/fonts' as fonts;

.introduction {
  @include abstracts.wrapper;
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 64px;
  z-index: 0;

  @include abstracts.breakpoint(mobile) {
    margin-bottom: initial;
  }

  // ---------- Temporal ----------
  &__message {
    @include fonts.h3-style(desktop);

    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: var(--color__neutrals-gallery--200);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: var(--color__accent-real-orange--500);
    text-transform: uppercase;

    z-index: 99;

    animation: introduction-message-animation 2s 5s forwards;

    @include abstracts.breakpoint(tablet) {
      @include fonts.h3-style(mobile);
    }
  }

  //---------- Top banner announcement ----------
  &__disclaimer-minimal {
    width: 100vw;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color__neutrals-midnight--500);
    cursor: pointer;

    a {
      margin: 0;
      padding-right: 10px;
      color: var(--color__neutrals-gallery--500);
      &:hover{
        text-decoration: underline;
        color: var(--color__accent-real-orange--500)
      }
    }

    // button {
    //   width: fit-content;
    //   transform: scale(0.5);
    //   cursor: pointer;
    //   color: var(--color__neutrals-midnight--500);
    // }

  }

  &__text-group {
    width: 100%;
    height: 85%;

    background: url(../assets/images/adrismate-intro-graphic-text.svg) no-repeat center;
    background-size: contain;
    
    transform-origin: center;
    margin: 65px 0 100px 0;
    transition: all 250ms ease-out;
  }

  &__call-to-action {
    @include fonts.label-style(desktop);
    position: absolute;
    z-index: 0;
    bottom: 42px;

    text-align: center;
    user-select: none;

    transition: filter 1s ease-out;
    animation: header___call-to-action-animation 10s cubic-bezier(0, 0.82, 0.6, 1) 0s infinite;

    @include abstracts.breakpoint(mobile) {
      bottom: 16vh;
    }

    &:hover {
      opacity: 50%;
    }
  }

  &__blurry-shapes-bg {
    width: 1800px;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
    transform: scale(2);
    animation: introduction__blurry-shapes-bg-appearance 2s ease-in 1s forwards;

    @include abstracts.breakpoint(mobile) {
      top: -30vh;
    }
  }
}

.bg-blurry-shapes {
  width: 100vw;
  height: auto;

  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;

  &__shape {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
  }

  &__shape--1 {
    height: 140vh;

    z-index: -98;
    background: radial-gradient(27.35% 20.2% at 50% 50%, rgba(255, 174, 27, 0.23) 15.63%, rgba(255, 174, 27, 0) 100%);
    animation: bg-blurry-shape--1-animation 12s ease-in-out infinite forwards;

    @include abstracts.breakpoint(mobile) {
      height: 90vh;
    }

    //prettier-ignore
    @keyframes bg-blurry-shape--1-animation {

      0%,
      100% {
        transform: translate(0, 0) scale(1) rotate(0deg);
      }

      30% {
        transform: translate(9%, 14%) scale(1.2) rotate(53deg);
      }

      60% {
        transform: translate(-12%, -2%) scale(1.4) rotate(12deg)
      }
    }
  }

  &__shape--2 {
    height: 100vh;

    z-index: -99;
    background: radial-gradient(75.01% 38.3% at 50% 50%, #f2dbdf 13.02%, rgba(242, 219, 223, 0) 100%);
    animation: bg-blurry-shape--2-animation 12s ease-in-out infinite forwards;

    //prettier-ignore
    @keyframes bg-blurry-shape--2-animation {

      0%,
      100% {
        transform: translate(-1vw, 0) scale(1.1);
      }

      50% {
        transform: translate(7vw, 200px) scale(1.5) rotate(10deg);
      }
    }
  }
}

.projects {
  @include abstracts.wrapper;
  position: relative;

  &__time-line {
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: var(--color__neutrals-midnight--300);
    grid-column: 2 / 3;
    left: 50%;

    @include abstracts.breakpoint(tablet) {
      display: none;
    }
  }

  &__pointer {
    position: sticky;
    width: 35px;
    height: 35px;
    background: var(--color__neutrals-midnight--500);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    // Inside
    @include fonts.label-style(desktop);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color__neutrals-gallery--500);

    //Outline
    &::before {
      content: '';
      position: absolute;
      width: 41px;
      height: 41px;
      border: 1px solid var(--color__neutrals-midnight--500);
      border-radius: 50px;
    }

    @include abstracts.breakpoint(tablet) {
      display: none;
    }
  }

  &__grid {
    // position: relative;
    max-width: 1400px;

    margin: 0 auto;

    display: grid;
    justify-items: center;
    grid-template-columns: 10fr minmax(20px, 115px) 10fr;
    grid-auto-rows: 30vh;
    grid-auto-flow: row;
    row-gap: 20vh;

    @include abstracts.breakpoint(tablet) {
      grid-template-columns: 1fr;
      row-gap: 130px;
      margin-top: initial;
      grid-auto-flow: row;
    }
  }

  // &__project-empty {
  //   grid-column: 3 / 4;
  //   grid-row: span 1;
  //   @include breakpoint(tablet) {
  //     display: none;
  //   }
  // }
  &__project {
    max-width: 520px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 32px;
    opacity: 60%;
    transition: all 250ms ease-in-out;
    cursor: pointer;

    @include abstracts.breakpoint(tablet) {
      grid-row: initial;
      transform: scale(0.95);
    }

    &:nth-of-type(odd) {
      grid-column: 3 / 4;
      grid-row: span 2;

      @include abstracts.breakpoint(tablet) {
        grid-column: initial;
        grid-auto-rows: initial;
      }
    }

    &:nth-of-type(even) {
      grid-column: 1 / 2;
      grid-row: span 2;

      @include abstracts.breakpoint(tablet) {
        grid-column: initial;
        grid-auto-rows: initial;
      }
    }

    &:hover {
      .projects__title {
        text-decoration: underline;
        color: var(--color__neutrals-midnight--500);
        text-underline-offset: 2px;
        text-decoration-thickness: 3px;
      }

      .projects__thumbnail {
        box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
        background-color: var(--color__neutrals-gallery--500);
        opacity: 0.8;
      }
    }
  }

  &__project--reveal {
    opacity: 100%;
    transform: scale(1.05);

    @include abstracts.breakpoint(tablet) {
      transform: scale(1);
    }
  }

  &__featured {
    width: fit-content;
    padding: 6px 16px 4px;
    border: 1px solid var(--color__neutrals-midnight--500);
    background: var(--color__accent-real-orange--500);
    border-radius: 50px;
    text-transform: uppercase;
    margin-bottom: calc(-32px + 16px);
  }

  &__title {
    @include fonts.h3-style(desktop);
    font-size: clamp(34px, 6.6vw, 42px);
    transition: all 1s ease-out;
  }

  &__thumbnail-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 250ms ease-out;
  }

  &__tags {
    @include fonts.label-style(desktop);
    color: var(--color__neutrals-midnight--300);

    @include abstracts.breakpoint(mobile) {
      @include fonts.label-style(mobile);
    }
  }
}

.approaching {
  @include abstracts.wrapper;
  width: 90vw;

  margin: 40vh auto 40vh;

  @include abstracts.breakpoint(tablet) {
    margin: 30vh auto 30vh;
    padding: initial;
  }

  &__group {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2.8vw;
  }

  &__text {
    @include fonts.h1-style(desktop);
    display: block;
    position: relative;
    width: fit-content;
    font-size: clamp(14px, 7.75vw, 142px);
    white-space: nowrap;
    cursor: pointer;

    transition: all 250ms ease-out;

    @include abstracts.breakpoint(mobile) {
      display: none;
    }
  }

  &__text:nth-child(1) {
    transform: translateX(-10vw);
    opacity: 0;
  }

  &__text:nth-child(2) {
    align-self: flex-end;
    transform: translateX(10vw);
    opacity: 0;
  }

  &__text--reveal:nth-child(1),
  &__text--reveal:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
  }

  &__text::before {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    background: var(--color__neutrals-midnight--500);
    transition: width 250ms cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &__text:hover {
    &::before {
      width: 100%;
    }
  }

  &__approaching-btn,
  &__approaching-btn.btn-special {
    display: none;

    @include abstracts.breakpoint(mobile) {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}

// ------- ANIMATIONS ------
@keyframes header___call-to-action-animation {
  0% {
    transform: translateY(0);
    opacity: 100%;
  }

  80% {
    transform: translateY(0);
    opacity: 100%;
  }

  85% {
    transform: translateY(2vh);
    opacity: 50%;
  }

  90% {
    transform: translateY(0);
    opacity: 100%;
  }

  95% {
    transform: translateY(2vh);
    opacity: 50%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes introduction__blurry-shapes-bg-appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes introduction-message-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
