---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <style>
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    button{
      margin-top: 32px;
    }
  </style>
  <div class="container">
    <h1>Looks like you got lost!</h1>
    <p><strong>Trust me, there's nothing important here...</strong></p>
    <p style="color: rgb(57, 57, 57);">Why not go to the main page?</p>
    <button class="btn-secundary"><a href="/" >Home</a></button>
  </div>
</MainLayout>