---
import contactInfo from '../data/contactInfo';
import ResponsivePicture from '../components/ResponsivePicture.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { getImage } from '../utils/assets';

// Load all projects
const matches = import.meta.glob('../pages/projects/**/*.md', { eager: true });
const projects = Object.values(matches);
console.log('Loaded Projects:', projects.map(project => project.frontmatter.project_title));
---

<MainLayout title="Adrismate">
  <section class="introduction">
    <div class="introduction__text-group"></div>
    <a class="introduction__call-to-action">Scroll down</a>
  </section>
  <div class="bg-blurry-shapes">
    <div class="bg-blurry-shapes__shape bg-blurry-shapes__shape--1"></div>
    <div class="bg-blurry-shapes__shape bg-blurry-shapes__shape--2"></div>
  </div>
  <section class="projects" id="projects-section">
    <span class="projects__time-line"></span>
    <span class="projects__pointer"></span>
    <div class="projects__grid">
      {projects.map((project) => (
        <a class="projects__project" href={project.url}>
          {project.frontmatter.featured && (
            <div class="projects__featured">HOT!</div>
          )}
          <h3 class="projects__title">{project.frontmatter.project_title}</h3>
          <div class="projects__thumbnail-wrapper">
            <ResponsivePicture
              src={getImage(project.frontmatter.thumbnail, project.frontmatter.slug)}
              alt={project.frontmatter.slug}
              class="projects__thumbnail"
            />
          </div>
          <p class="projects__tags">
            {project.frontmatter.tags.map((tag) => tag.replaceAll('-', ' ')).sort().join(' — ')}
          </p>
        </a>
      ))}
    </div>
  </section>
  <section class="approaching">
    <div class="approaching__group">
      <p class="approaching__text" data-page-link="contact">Get in touch</p>
      <p class="approaching__text" data-page-link="about_me">Know about me</p>
    </div>
    <button class="approaching__approaching-btn btn-special">
      <a href={`mailto:${contactInfo.email}`}>Get in touch</a>
    </button>
  </section>
</MainLayout>

<!-- Designed and built with passion by Adrian M. Bandera (Adrismate) -->