---
import contactInfo from '../data/contactInfo';
---

<h2 class="contact__title">Want to work with me?</h2>
<h4 class="contact__subtitle">I am looking for a company that challenges me and my skills.</h4>
<p class="contact__caption">Working locally from Barcelona, worldwide to the world.</p>
<button class="contact__email-button">
    <a href={`mailto:${contactInfo.email}`}>My email</a>
</button>
