---
import contactInfo from '../data/contactInfo';
---
<footer class="footer">
    <hr class="footer__line"></hr>
    <div class="footer__group">
        <div class="footer__copyright">Adrismate © 2026</div>
        <a class="footer__mail" href={`mailto:${contactInfo.email}`}>{contactInfo.email}</a>
        <div class="footer__turn-up">Turn up</div>
    </div>
</footer>
