---
import '../styles/main.scss';
import { ClientRouter, fade, slide } from 'astro:transitions';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- TODO -->
    <!-- <meta name="description" content="{% if page.introduction %}{{ page.introduction }}{% else %}{{ site.description }}{% endif %}" /> -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#EFEFF0" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <script src="../assets/scripts/ui-interactions.js"></script>
    <ClientRouter />
  </head>
</html>
