---
import AdrismateIsotype from './AdrismateIsotype.astro';
---
<header class="header">
  <a href="/">
    <AdrismateIsotype class="header__brand-icon" />
  </a>
  <input type="checkbox" id="burguer-bar-toggle">
  <label for="burguer-bar-toggle" class="header__burguer-bar-icon">
    <span></span>
    <span></span>
  </label>
</header>
